*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--fontFamilyBase);
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
}

#root {
  display: flex;
  flex-direction: column;
}
